@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0 ;
    font-family: 'Josefin Sans';
}

body{
    height: 100vh;
    background-color: hsl(0, 0%, 98%);
    background-image: url(./components/images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-x: hidden;
}

/* Custom scroll */

.custom-scroll::-webkit-scrollbar {
    width: 2px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: hsl(0, 0%, 98%);
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 98%);
    border-radius: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 98%);
}

.custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: hsl(235, 19%, 35%) hsl(0, 0%, 98%);
}

/* Custom scroll end */

.attribution { 
    font-size: 16px; 
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
    transition: .3s ease;
}

.attribution a:hover{
    color: hsl(308, 83%, 42%);
}

.todo-app{
    height: 80vh;
}

.todo-container{
    height: 100%;
    display: flex;
}

.todo-header{
    display: flex;
    width: 100%;
}

.todo-inscription{
    letter-spacing: 9px;
}

.todo-create input[type="text"]{
    padding: 10px 16px;
    width: 90%;
}

.list-component{
    display: flex;
}

.list-component p{
    padding-left: 16px;
}
.todo-sort button{
    color: hsl(236, 9%, 61%);
}

.todo-sort button:focus{
    color: (235, 19%, 35%);
}
